---
import Layout from "@/layouts/Layout.astro";
// import { getTxByUUID } from "@/lib/tarpit_gql.ts";

const tx_id = Astro.url.searchParams.get('tx') || '';

import Status from "@/components/Complete/Status.vue";

// fetch the tx

// let tx = await getTxByUUID(tx_id);



---

<Layout title="complete">

    <p>complete</p>

    <br>
    <!-- {JSON.stringify(tx.status)} -->
    <Status client:only="vue" tx={tx_id} />


    

</Layout>