---
import Layout from "@/layouts/Layout.astro";

const tx_id = Astro.url.searchParams.get('tx') || '';

import Status from "@/components/Complete/Status.vue";
import Summary from "@/components/Complete/Summary.vue";

import { Button } from "@/components/ui/button";


// fetch the tx

// let tx = await getTxByUUID(tx_id);
// http://localhost:4321/complete?payment_intent=pi_3PScYPGVCma29jjI0hjXrtce&payment_intent_client_secret=pi_3PScYPGVCma29jjI0hjXrtce_secret_dbzMfmTGB7ykoNZWHHZc9PRPW&redirect_status=failed&source_type=fpx&tx=7ecK56UIm2nNg7-fJM_RcFD7Gl2abNN8

// const redirect_status = Astro.url.searchParams.get('redirect_status') || '';

import { getTxByUUID } from "@/lib/tarpit_gql.ts";
let tx = await getTxByUUID(tx_id);

---

<Layout title="complete">
    <Status client:only="vue" tx={tx_id} />
    <Summary client:only="vue" tx={tx} />
    <div class="w-full flex justify-center items-center pt-8">
        <div class="w-full max-w-sm flex flex-col justify-center items-center space-y-4">
            <a href="/history" class="w-full">
                <Button class="hover:scale-105 w-full text-xl bg-salmon-500 rounded-2xl min-h-0 h-auto hover:bg-salmon-500 border-2 border-salmon-400 shadow-xl duration-300 transition-all scale-100 active:scale-95 p-3">
                    <span class="text-white">前往「我的订单」</span>
                </Button>
            </a>
            <a href="/" class="w-full">
                <Button class="hover:scale-105 w-full text-xl bg-white text-salmon hover:text-white border-2 border-salmon-100 rounded-2xl min-h-0 h-auto hover:bg-salmon-500 duration-300 transition-all scale-100 active:scale-95 p-3">
                    <span class="">返回主页</span>
                </Button>
            </a>
        </div>
    </div>
    
    <div class="h-[20vh] w-full"></div>
</Layout>