---
import Layout from "@/layouts/Layout.astro";
import '../styles/globals.css'
import PurchaseHistory from '../components/PurchaseHistory.vue';
import { getTxByID } from "@/lib/tarpit_gql.ts";
const props = Astro.props

const { user } = Astro.locals as any;
let tx = await getTxByID(user.id);

---

<Layout title="帐户设置">

  <main class="w-full h-full overflow-y-auto relative">
      <section class="w-full flex flex-col justify-center items-center">
          <PurchaseHistory client:only="vue" tx={tx}/>
      </section>
  </main>

</Layout>