---
import Layout from "@/layouts/Layout.astro";
import '../styles/globals.css'
import PurchaseHistory from '../components/PurchaseHistory.vue';

const { tx } = Astro.locals as any;
---

<Layout title="帐户设置">
  <div class="w-full flex justify-center items-center">
    <div class="w-full max-w-sm py-4 text-center bg-white rounded-xl shadow-xl shadow-black/5">
      <h1 class="text-3xl font-bold text-salmon-500 mb-2">我的订单</h1>
      <p class="text-xl text-salmon-400">查看您的购买历史记录</p>
    </div>
  </div>
  <main class="w-full h-full overflow-y-auto relative">
      <section class="w-full flex flex-col justify-center items-center">
          <PurchaseHistory client:only="vue" tx={tx}/>
      </section>
  </main>
</Layout>