---
import TopNavbar from '../components/TopNavbar.vue';
import ProductList from '../components/ProductList.vue';
import Main from '../components/Main.vue'
import MainText from '../components/MainText.astro'
import Navbar from '../components/Navbar.vue'
import Bracelet from '../components/Bracelet.vue'
import About from '../components/About.vue'
import Footer from '../components/Footer.vue'
import '../styles/globals.css'
import { ref } from 'vue';
---

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ghost Remake</title>
</head>
<body>
  <div class="bg-[#F6EAFF]">
    <div class="container">
      <TopNavbar client:visible/>
      <MainText />
      <Main client:visible />
    </div>
  </div>
  <div class="sticky top-0 z-20">
    <Navbar client:only />
  </div>
  <div class="bg-[#FFFFFF]">
    <div class="container">
      <div id="mainSection" class=" border-b border-gray-200">
        <ProductList client:only/>
      </div> 
      <div id="braceletSection" class=" border-b border-gray-200 pb-6">
        <Bracelet client:only />
      </div>
      <div id="aboutSection">
        <About client:visible />  
      </div>
      <div class="pb-[80px] text-center">
        <p>© 真的友鬼 2024</p>
      </div>
    </div> 
    <!-- Accept quantity from ProductList.vue and pass as count to Footer -->
    <Footer client:only />
  </div>
</body>
</html>