---
import Layout from "@/layouts/Layout.astro";
import { getTxByUUID } from "@/lib/tarpit_gql.ts";

import PaymentForm from "@/components/Pay/PaymentForm.vue";
import ItemList from "@/components/Pay/ItemList.vue";
import CancelButton from "@/components/Pay/CancelButton.vue";

const tx_id = Astro.url.searchParams.get('tx') || '';

// fetch the tx

let tx = await getTxByUUID(tx_id);

// only allow the owner to visit this page if status is 'pending'

if (tx.status !== 'pending') {
    return Astro.redirect('/history');
}


// console.log(tx.status);

---

<Layout title="Pay">

    <main class="w-full h-full overflow-y-auto relative">

        <section class="w-full flex flex-col justify-center items-center">
            <div class="w-full max-w-sm py-4 flex justify-between items-center">
            
                <div class="text-left">
                    <h1 class="text-xl text-salmon">结账</h1>
                    <p class="text-salmon-400">请选择付款方式</p>
                </div>
    
                <CancelButton client:only="vue" uuid={tx_id}/>
    
            </div>
            <div class="w-full max-w-sm">
                <ItemList client:only="vue" tx={tx}/>
            </div>
        </section>


        <div class="w-full px-4 pt-2 flex flex-col justify-center items-center pb-12">
            <div class="w-full max-w-sm">
                <PaymentForm client:only="vue" uuid={tx_id} tx={tx}/>
            </div>
        </div>

    </main>

</Layout>