---
import Layout from "@/layouts/Layout.astro";
import ProfileSetting from "../components/ProfileSetting.vue";
import "../styles/globals.css";

const props = Astro.props

const { tx } = Astro.locals as any;
---

<Layout title="帐户设置">

    <main class="w-full h-full overflow-y-auto relative">
        <section class="w-full flex flex-col justify-center items-center">
            <ProfileSetting client:only="vue" class="mt-8" />
        </section>
    </main>

</Layout>