---
import Layout from '../layouts/Layout.astro'
const profileImg = '/img/profile2.png'
const profileName = '真的友鬼'
const profileDetails = '揭开神秘的灵异世界，有趣的鬼故事集就在《真的友鬼》'
---
<Layout title='Layout'>
    <div class="profile-container text-center pt-4 flex flex-col items-center">
        <img
            class="profile-img mx-auto rounded-[20px] w-[111px] h-[111px]"
            src={profileImg}
            alt="Profile Image"
        />
        <h2 class="profile-name text-2xl mt-2 font-semibold pt-4">{profileName}</h2>
        <p class="text-lg w-[247px] text-center pt-3">{profileDetails}</p>
    </div>
</Layout>