---
// interface Props {
//   title: string;
// }

// const { title } = Astro.props;

import CartStore from "@/components/Product/CartStore.vue";
import "../styles/globals.css";
const { cart } = Astro.locals as any;
import "@jaxtheprime/vue3-dropzone/dist/style.css";
import { Button } from "@/components/ui/button";

let showGoHome = false;

if (Astro.url.pathname !== "/") {
  console.log(Astro.url.pathname);
  showGoHome = true;
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>真的友鬼</title>
  </head>
  <body class="bg-salmon-50" data-barba="wrapper">
    <script>
      import "iconify-icon";

      import "overlayscrollbars/overlayscrollbars.css";
      import { OverlayScrollbars } from "overlayscrollbars";

      if (document?.querySelector("body") != null) {
        let _body = document.querySelector("body") as any;
        OverlayScrollbars(_body, {});
      }
    </script>

    <CartStore client:only="vue" user_cart={cart} />

    <section class="w-full">
      <div class="w-full h-36 overflow-hidden flex justify-center items-center">
        <img class="w-full h-full object-cover blur-md scale-150 brightness-75 z-10" src="/img/book6.png" alt="" />
      </div>

      <div class="w-full flex justify-center items-center -mt-16">
        <div class="w-36 h-36 bg-white rounded-2xl z-20 shadow-xl overflow-hidden">
          <img src="/img/book6.png" class="w-full h-full object-cover scale-[160%] translate-y-6 translate-x-2" alt="" />
        </div>
      </div>
    </section>

    <div class="w-full flex flex-col justify-center items-center pt-8">
      <h1 class="text-salmon text-4xl font-semibold mb-4">真的友鬼</h1>
    </div>
  </body>

  <main class="outline-none focus:outline-none">
    {
      showGoHome && (
        <div class="w-full flex justify-center items-center mb-4 sticky top-0 p-2 z-50 bg-salmon-50/50 backdrop-blur-sm border-b border-b-salmon-100">
          <div class="w-full max-w-sm">
            <a href="/">
              <Button variant="ghost" class="bg-white hover:bg-salmon-500 hover:text-white text-salmon-500 text-lg duration-300">
                返回主页
              </Button>
            </a>
          </div>
        </div>
      )
    }

    <slot />
  </main>
</html>
