---
interface Props {
  title: string;
}

// const { title } = Astro.props;

import CartStore from "@/components/Product/CartStore.vue";
import "../styles/globals.css";
const { cart } = Astro.locals as any;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ghost Remake</title>
  </head>
  <body>
    <CartStore client:only="vue" user_cart={cart} />
    <slot />
  </body>
</html>
